/* -------------------------------------------------------- */
/* Basic Setup */
/* -------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: white;
    color: rgb(55, 55, 55);
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------------------- */
/* Resusable Components */
/* -------------------------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section{
    margin: 80px 0;
}

.box{
    padding: 1%;
}

/* -------------------------------------------------------- */
/* Heading */
/* -------------------------------------------------------- */
header{
    background-image: linear-gradient(#000000a4,#00000079), url(images/hero-min.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;  
    background-attachment: fixed;  
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* -------------------------------------------------------- */
/* Heading */
/* -------------------------------------------------------- */

h1,h2,h3{

    font-weight: 300;
    text-transform: uppercase;

}

h1{
    margin-top: 0px;
    margin-bottom: 20px;
    color: rgb(241, 241, 241);
    font-size: 240%;
    margin: 0 auto;
    word-spacing: 3px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    word-spacing: 3px;
}

h2::after{
    display: block;
    height: 2px;
    background-color: orangered;
    content: '';
    margin: 0 auto;
    width: 200px;
    margin-top: 30px;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}

/* -------------------------------------------------------- */
/* Header Button */
/* -------------------------------------------------------- */

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #af2e06;
    border: 1px solid #d35400;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited,
input[type=submit]{
    border: 1px solid #d35400;
    color:#c94d05;
}

.btn:hover,
.btn:active,
input[type=submit]{
    background-color: #f76b1b;
    color:white;
}


/* -------------------------------------------------------- */
/* Logo */
/* -------------------------------------------------------- */
.logo{
    height: 200px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* -------------------------------------------------------- */
/* Nav Elements */
/* -------------------------------------------------------- */

.main-nav{
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 55px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 10px transparent  #d35400;
    transition: border-bottom 0.1s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 4px solid  #d35400;
}

/* mobile-navi */

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color:rgb(177, 20, 20);
}

/* sticky-nav */

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(250, 248, 248);
    box-shadow: 0 3px 2px;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    text-decoration: none;
    color: rgb(63, 62, 62);
    padding: 18px 0;
}


.sticky .logo{
    display: none;
}
.sticky .logo-black{
    display: block;
}

.sticky .main-nav li{
    margin-top: 15px;

}

/* -------------------------------------------------------- */
/* Paragraphs */
/* -------------------------------------------------------- */
.long-copy{
    line-height: 145%;
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}


/* -------------------------------------------------------- */
/* Icons */
/* -------------------------------------------------------- */

.icon-big{
    font-size: 300%;
    display: block;
    color:  #d35400;
}

/* -------------------------------------------------------- */
/* Features */
/* -------------------------------------------------------- */
.section-features .long-copy{
    margin-bottom: 30px;
}


/* -------------------------------------------------------- */
/* Meals */
/* -------------------------------------------------------- */

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
}


.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.9;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}


/* -------------------------------------------------------- */
/* How it works */
/* -------------------------------------------------------- */

.section-steps{
    background-color: rgba(216, 213, 213, 0.349);
}

steps-box:first-child{
    text-align: right;
    padding-right: 15%;
    margin-top: 50px;
    border: rgb(233, 31, 31) 1px solid;

}
steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
    
}

.app-screen{
    width: 38%;
    margin-left: 35%;
}

.works-step{
    margin-bottom: 50px;
    margin-top: 10%;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color:#d35400;
    border: 2px solid #d35400;

    border-radius: 50%;
    height: 54px;
    width: 54px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;

}
.btn-app:link,
.btn-app:visited{
    border: 0;
}

/* -------------------------------------------------------- */
/* Cities */
/* -------------------------------------------------------- */
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color:  #d35400;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 2px;
}

.city-feature a{
    text-decoration: none;
    color: #d35400;
    transition: color .2s font-weight 0.2s ;
}

.city-feature a:hover,
.city-feature a:visited{
    color: rgb(107, 13, 13);
    font-weight: 600;
}

/* -------------------------------------------------------- */
/* Testimonials */
/* -------------------------------------------------------- */

.section-testimonials{
    background-image: linear-gradient(rgba(32, 21, 21, 0.9),rgba(0, 0, 0, 0.7)), url(images/back-customers-min.jpg);
    background-size: cover;
    color:white;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 8%;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


blockquote::before{
    content: '\201C';
    font-size: 400%;
    display: block;
    position: absolute;
    top: 5px;
    left: -3px;
}


cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* -------------------------------------------------------- */
/* PLANS */
/* -------------------------------------------------------- */

.section-plans{
    background-color: rgba(235, 235, 235, 0.877);
}

.plan-box{
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 5px 3px 3px gray;
}

.plan-box div:first-child{
    background-color: rgb(221, 220, 220);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1x solid rgb(55, 55, 55);
}

.plan-box div:last-child{
    text-align: center;
}

.plan-price{
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #c55104;

}

.plan-price-meal{
    font-size: 90%;
}

.plan-price span{
    font-size: 70%;
    font-weight: 300;
}

.plan-box ul li{
    padding: 5px 0;
    list-style: none;
}

.plan-box ul{
    border-top: 1px solid rgb(214, 211, 211);
    border-bottom: 1px solid rgb(214, 211, 211);

}

/* -------------------------------------------------------- */
/* Form */
/* -------------------------------------------------------- */

.contact-form{
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(156, 154, 154);
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

/* -------------------------------------------------------- */
/* Footer */
/* -------------------------------------------------------- */

footer{
    background-color: rgb(43, 34, 34);
    padding: 15px;
}


footer li a{
    color: #9c9a9a;
}

.footer-nav{
    list-style: none;
    float: left;
    
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
    transition: color 0.3s  ;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a :visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: none;

}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
    color: rgb(81, 83, 206);
}

footer p {
    color: rgb(124, 119, 119);
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
}

.social-links li a{
    margin-left: 5px;
}

.social-links li i{
    color:rgb(124, 119, 119) ;
}